body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 50vh;
  margin-top: 10%;
  border-radius: 10px;
  box-shadow: 0 0 20px 8px #d0d0d0;
  padding-bottom: 20px;
}

.product-name {
  font-size: 25px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.product-des {
  margin-bottom: 10px;
  margin-left: 20px;
}

.delete-btn {
  padding: 10px 10px;
  background-color: #ff4d4d;
  color: #fff;
  width: 26%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
}

.delete-btn:hover {
  background-color: #ff1a1a;
}
