<!DOCTYPE html>
<html>
  {% block head %}
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/base.css') }}"
    />
    <title>{% block title %}Marketplace{% endblock %}</title></head
  >{% endblock %}
  <body>
    <div class="nav-bar">
      <div class="nav-left">
        <a class="text-link" href=""><div class="nav-text">TicTacToe</div></a>
        <div class="nav-btn"><a href="{{ url_for('main.home') }}">Home</a></div>
        <div class="nav-btn">
          <a href="{{ url_for('main.tictactoe') }}">Play!</a>
        </div>
      </div>

      <div class="nav-right">
        <div class="nav-links">
          <div class="nav-btn">
            <a href="{{ url_for('main.players') }}">Players</a>
          </div>
          {% if current_user.is_authenticated %}
          <div class="nav-btn">
            <a
              href="{{ url_for('main.player_profile', player_id = current_user.id) }}"
              >Profile</a
            >
          </div>

          <div class="nav-btn">
            <a href="{{ url_for('main.logout') }}">Logout</a>
          </div>

          {% else %}
          <div class="nav-btn">
            <a href="{{ url_for('main.login') }}">Login</a>
          </div>
          <div class="nav-btn">
            <a href="{{ url_for('main.new_player') }}">Register</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="flash">
      {% for category, message in messages %}
      <li class="flash-item flash-{{ category }}">
        <span>{{ message }}</span>
        <button class="flash-dismiss" onclick="this.parentElement.remove()">
          &#x2715;
        </button>
      </li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %} {% endblock %}
  </body>
</html>
