{% extends 'base.html' %} {% block title %}Delete Account{% endblock %} {% block
head %} {{ super() }}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='css/form.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
  <h1>Delete Account</h1>
  <form
    action="{{url_for('main.delete_player', player_id = player_id)}}"
    method="POST"
  >
    {{form.hidden_tag()}}
    <div class="form-input">{{ form.email.label }} {{ form.email }}</div>
    <div class="form-input">{{ form.password.label }} {{ form.password }}</div>
    <div class="delete-btn">{{ form.submit }}</div>
  </form>
</div>
{% endblock %}
